h1 {
    font-size: 25pt;
    font-weight: bold;
    margin-bottom: 10pt;
    margin-top: 15pt;
    }
h2 {
    font-size: 18pt;
    margin: 5pt;
}
button {
        background-color:#def186;
        color:#000000;
        }
.login-container{
        display: flex;
        flex-wrap: wrap;
    }
.UserLogin {
        padding: 10pt;
        background-color: #041c42;
        color: white;
    }
.UserSignup {
        padding: 10pt;

    }
.welcome-logo {
        background-image: ();
        background-color: #12ccda;
        color:#ffff;

	    flex: 1;
    }

    
     
    

