/* Global fonts */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&family=Roboto:wght@100;300;500;700;900&display=swap');


/* Login page */

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #020057;
}

#root {
    background-color: #e7e7e8;
    height: 100%;
    overflow-y: auto;
}

/* Display loading animation when root is empty */
#root:empty {
    background-color: #020057;
    background-image: url("../img/loading.gif");
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

main {
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    justify-content: stretch;
    align-items: stretch;
    align-content: center;
    height: 100%;

}


#siteLogo {
    display: flex;
    flex-flow: column wrap;
    justify-items: center;
    align-items: center;
    /* Site background, with modifications ref: https://unsplash.com/photos/YrMjQFkXYIs */
    background-image: url("../img/site-background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 20%;
    background-blend-mode: lighten;
    background-color: #ffffff80;
}

#siteLogo img {
    width: 100%;
    margin: auto;
}

#loginControls {
    background-color: #020057;
    height:100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    align-content: center;

}

#loginControls button {
    border: none;
    color: #e7e7e8;
    background-color: #00b9b5;
    padding: 10px;
    margin: 15px 0;
    width: 100px;
    border-radius: 8px;
}

#loginControls button:nth-child(2) {
    background-color: #db8000;
}

/* UserLogin */

#loginControls form { 
    justify-self: flex-start;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 5px 0 0 0;
}

#loginControls form label {
    color: #e7e7e8;
    align-self: flex-start;
    margin: 10px 0;
}

#loginControls form button {
    width: 100px;
    margin: 25px 0 0 0;
}

#loginControls form input {
    border: none;
    border-radius: 8px;
    padding: 5px;
}

#loginControls .errMsg {
    color: #b6b300;
    margin: 5px 0;

}

/* LoginPage menu control */

#profileMenu {
    align-self: center;
}

#profileMenu li {
    padding: 8px 15px;
}

#profileMenu .profileMenuDivider {
    box-sizing: border-box;
    line-height: 0;
    height: 1px;
    padding: 0;
    border: 1px solid #020057;
    margin: 11px 0;
}
#profileMenu img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 3px;
    border: 2px solid #e7e7e8;
    cursor: pointer;
}

#profileMenu ul {
    background-color: #e7e7e8;
    position: absolute;
    padding: 10px 0;
    min-width: 90px;
    margin-top: 5px;
    right: 10px;
    border: 1px solid #020057;
    border-radius: 6px;
}


#profileMenu li:hover {
    background-color: #020057;
    color: #e7e7e8;
    transition: all 0.5s ease-in;

}

#profileMenu a {
    text-decoration: none;
    color: #020057;
}

#profileMenu a:hover, #profileMenu li:hover a  {
    color: #e7e7e8;
    transition: all 0.5s ease-in;

}

/* SiteNav */


/* TimelinePage */

#userTimeline {
    background-color: #e7e7e8;
}

#userTimeline li div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

#userTimeline li div div {
    flex-flow: column nowrap;
    align-items: flex-start;
    margin: 0 0 0 15px;
}

#userTimeline li div div a {
    margin: 2px;
}

#userTimeline .postDivider {
    border-bottom: 2px solid #db8000;
    margin: 0 25px;
}

#userTimeline ul:first-of-type {
    margin: 0 0 35px 0;
    padding: 15px 0 0 0;
}

#userTimeline ul {
    margin: 35px 0;

}

#userTimeline ul:last-of-type {
    margin: 35px 0 0 0;
    padding: 0 0 15px 0;
}
#userTimeline li {
    margin: 10px 0;
    padding: 0 15px;
}

#userTimeline li:not(:first-of-type) {
    margin: 20px 0;
}

#userTimeline li a { 
    text-decoration: none;
    color: #020057;
}

#userTimeline li img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-radius: 6px;
    padding: 2px;
    
}

.postFullName {
    font-weight: 700;
    font-size: large;
}

.postUsername:before {
    content: '@';
}

.postUsername {
    font-weight: 400;
    display: block;
}

.postTimestamp {
    display: block;
    font-size: smaller;
    text-align: right;
}

.postText {
    display: block;
    margin: 10px 0;
    background-color: #ffffff;
    border-radius: 6px;
    padding: 5px;
    line-height: 1.4;
}

/* UserProfilePage */

#userProfilePage {
    background-color: #e7e7e8;
}

#userProfile {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: #0062bb;
    padding: 15px 0;
    color:  #e7e7e8;

}

#userProfile img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 6px solid #e7e7e8;
    padding: 20px;
}

#userProfile > div {
    display: flex;
    flex-flow: column nowrap;
}

#userProfile h1 {
    font-size: xx-large;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    margin: 15px 0;
}

#userProfile h2:before {
    content: '@';
}

#userProfile h2 {
    font-size: x-large;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    text-align: center;
    color: #00b9b5;
}

#briefSummary {
    line-height: 1.5;
    letter-spacing: 0.7px;
    padding: 10px 25px;
}

#briefSummary:before {
    content: '\201C\ ';
}

#briefSummary:after {
    content: ' \201D';
}

#contactInfo {
    align-self: center;
}

#contactInfo a:before {
    content: '📧';
    padding: 0 10px 0 0;
}

#contactInfo a {
    color:  #e7e7e8;
    text-decoration: none;
}

#userProfile div a:after {
    content: ' | ';
    font-size: x-large;
    color: #e7e7e8;
}
#userProfile time:before {
    content: '🧁';
    padding: 0 10px 0 0;
}

/* Search */

#searchPage {
    flex-flow: column nowrap;
}

#searchForm {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

#searchForm input {
    border: none;
    border-radius: 8px;
    padding: 5px;
}

#searchTermInput {
    width: 100%;
}

/* SearchPage */

#searchResultHeading {
    padding: 25px 10px 0 10px;
    text-align: center;
}

#searchResults {
    padding: 25px 0;
}

#searchResults a {
    text-decoration: none;
    font-size: smaller;
    color: #000000;
}

#searchResults ul {
    /* margin: 0 0 10px 0; */
    padding: 10px 10px 10px 10px;
 
}

#searchResults div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#searchResults div:first-child {
    padding: 10px 10px;
    margin: 0 10px 0 0;
    background-color: #ffffff;
    border-radius: 8px;
}

#searchResults div:nth-child(2) {
    padding: 10px 0;
}

#searchResults img {
    width: 60px;
    height: 60px;
    border: 2px solid #020057; 
    padding: 4px;
}

#searchResults li {
    display: flex;
    flex-flow: row nowrap;
}

#searchResults .postFullName {
    text-align:center;

}

#searchResults .postText {
    margin: unset;
    background-color: #ffffff;
    border-radius: 8px;
}

#searchResults time {
    display: none;
}

/* General */

.sr-only {
    display: none;
}


@Media (min-width: 600px) {

    main {
        flex-flow: row nowrap;
        height: 100%;
    }

    #root {
        /* background-color: #020057; */
    }

    #siteLogo {
        height: 100%;
        width: 50%;
    }

    #loginControls {
        flex: 1 0 auto;
        overflow-y: auto;
        justify-content: unset;

    }
    
    #searchForm {
        width: 400px;
    }
}

@Media (max-height: 599px) {

    #loginControls {
        justify-content: unset;
    }

}

@Media (min-width: 600px) and (min-height: 600px) {

    #root {
        background-color: #e7e7e8;
    }
   
    #loginControls {
        flex: 1 0 auto;
        overflow-y: auto;
        justify-content: center;
    }

    #userTimeline {
        width: 75%;
        margin: auto;
    }

    #searchResults div:first-child {
        width: 95px;
    }

    .postText {
        width: 100%;
    }

    #searchResults {
        width: 75%;
        margin: 0 auto;
    }

    #briefSummary {
        width: 65%;
        margin: 0 auto;
    }

    #searchForm {
        width: 500px;
    }

}

@Media (min-width: 1280px) {
    header {
        width: 75%;
        margin: 0 auto;
    }

    #userProfile {
        width: Calc(75% + 30px);
        margin: 0 auto;
    }

    #userTimeline {
        width: 55%;
        margin: auto;
    }
    
    #searchResults {
        width: 55%;
        margin: 0 auto;
    }
    
    #briefSummary {
        width: 55%;
    }

    #profileMenu ul {
        right: 13%;
    }
}