

/* Login page, App.js */

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #020057;
}

#root {
    background-color: #e7e7e8;
    height: 100%;
    overflow-y: auto;
}

/* Display loading animation when root is empty */
#root:empty {
    background-color: #020057;
    background-image: url("../img/loading.gif");
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

main {
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    justify-content: stretch;
    align-items: stretch;
    align-content: center;
    height: 100%;

}


#siteLogo {
    display: flex;
    flex-flow: column wrap;
    justify-items: center;
    align-items: center;
    /* Site background, with modifications ref: https://unsplash.com/photos/YrMjQFkXYIs */
    background-image: url("../img/site-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 20%;
    background-blend-mode: lighten;
    background-color: #ffffff80;
}

#siteLogo img {
    width: 100%;
    margin: auto;
}





/* General */

.sr-only {
    display: none;
}


@Media (min-width: 600px) {

    main {
        flex-flow: row nowrap;
        height: 100%;
    }

    #root {
        /* background-color: #020057; */
    }

    #siteLogo {
        height: 100%;
        width: 50%;
    }

    #loginControls {
        flex: 1 0 auto;
        overflow-y: auto;
        justify-content: unset;

    }
    
    #searchForm {
        width: 400px;
    }
}

@Media (max-height: 599px) {

    #loginControls {
        justify-content: unset;
    }

}

@Media (min-width: 600px) and (min-height: 600px) {

    #root {
        background-color: #e7e7e8;
    }
   
    #loginControls {
        flex: 1 0 auto;
        overflow-y: auto;
        justify-content: center;
    }

    #userTimeline {
        width: 75%;
        margin: auto;
    }

    #searchResults div:first-child {
        width: 95px;
    }

    .postText {
        width: 100%;
    }

    #searchResults {
        width: 75%;
        margin: 0 auto;
    }

    #briefSummary {
        width: 65%;
        margin: 0 auto;
    }

    #searchForm {
        width: 500px;
    }

}

@Media (min-width: 1280px) {
    header {
        width: 75%;
        margin: 0 auto;
    }

    #userProfile {
        width: Calc(75% + 30px);
        margin: 0 auto;
    }

    #userTimeline {
        width: 55%;
        margin: auto;
    }
    
    #searchResults {
        width: 55%;
        margin: 0 auto;
    }
    
    #briefSummary {
        width: 55%;
    }

    #profileMenu ul {
        right: 13%;
    }
}