body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
  font-size: 25pt;
  font-weight: bold;
  margin-bottom: 10pt;
  margin-top: 15pt;
  }
h2 {
  font-size: 18pt;
  margin: 5pt;
}
button {
      background-color:#def186;
      color:#000000;
      }
.login-container{
      display: flex;
      flex-wrap: wrap;
  }
.UserLogin {
      padding: 10pt;
      background-color: #041c42;
      color: white;
  }
.UserSignup {
      background-attachment: white;

  }
.welcome-logo {
      background-image: ();
      background-color: #12ccda;
      color:#ffff;
      flex: 1;
  }
.welcome-login-signup {
    flex: 1;
}


  
   
  


