header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: #020057;
    padding: 15px 15px;
}

header img {
    height: 40px;
    width: 40px;
}
